<h1>{{title}}</h1>
<form method="POST" action="/new">
	<label for="messageText">Text:</label><br />
	<input type="messageText" id="messageText" name="messageText" /><br />
	<label for="messageUser">Name:</label><br />
	<input type="text" id="messageUser" name="messageUser" /><br />
	<input type="submit" value="submit" />
</form>